/list_inventario.jasper
/subrpt_inventario.jasper
/listar_todo_inventario.jasper
/sub_rpt_todo_inventario.jasper
/rpt_todo_inventario.jasper
/rpt_filtro_inventario.jasper
/rpt_inventario.jasper
/rpt_inventario_bajo.jasper
/rpt_movimiento.jasper
